@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-image: url("https://i.postimg.cc/sg5tnCp1/213123123.jpg");
  background-size: cover;
  font-family: "Source Sans Pro", sans-serif;
  color: #444;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

.section-title span {
  text-transform: none;
  font-weight: 400;
  color: #777777;
}

/* Layout */
.wrapper {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.sidebar {
  -ms-flex: 1 0 0px;
      flex: 1 0 0;
}

.posts {
  -ms-flex: 2 0 0px;
      flex: 2 0 0;
}

.sidebar, .posts {
  background: #fff;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid #444;
  border-radius: 5px;
  background-image: url("https://i.postimg.cc/wMLKR1Qx/23213213123123.jpg");
  background-size: cover;
}


/* Logo */
.logo {
  font-family: "Sacramento", cursive;
  font-weight: 600;
  font-size: 120px;
  line-height: 1;
  text-align: center;
  color: red;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list .active {
  font-weight: bold;
}

.list-horizontal li {
  display: inline-block;
}

/* Authors */
.authors li {
  margin-bottom: 14px;
  color: red;
}

.authors a {
  margin-right: 8px;
  color: rgb(255, 0, 0);
  font-weight: 600;
  font-size: 25px;
}

/* Post */
.post {
  display: none;
}

.post.active {
  display: block;
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: -ms-flexbox;
  display: flex;
}

.post-tags p {
  margin: 0 10px 0 0;
}

.post-tags a {
  margin-right: 10px;
}

/*Tag Claud */
.tags li {
  display: inline-flex;
  display: -ms-inline-flexbox;
  font-style: initial;
  font-weight: 600;
  margin: 15px;
}

.tag-size-1 {
  font-size: 75%;
  color: rgb(66, 209, 0);
}
.tag-size-2 {
  font-size: 110%;
  color: rgb(19, 121, 216);
}

.tag-size-3 {
  font-size: 135%;
  color: darkviolet;
}

.tag-size-4 {
  font-size: 165%;
  color: orange;
}

.tag-size-5 {
  font-size: 180%;
  color: rgba(255, 17, 0, 0.623);
}